.header {
    width: 100%;
    background-color: rgb(235, 195, 64);
    overflow: auto;
    position: sticky;
    top: 0px;
    z-index: 1;
    display: block;
  }
  
 
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  

  .navbar a:hover {
    background-color: #000;
  }
  


  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }